<div class="row">

  <div class="col-md-8 col-md-offset-2">

    <div class="alert alert-danger" role="alert" ng-bind="error" ng-show="error"></div>

    <div class="input-group">
      <span class="input-group-addon">TITLE</span>
      <input type="text" class="form-control" placeholder="INPUT YOUR TITLE" ng-model="title">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">OPTION - 1</span>
      <input type="text" class="form-control" ng-model="option1">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">OPTION - 2</span>
      <input type="text" class="form-control" ng-model="option2">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">OPTION - 3</span>
      <input type="text" class="form-control" ng-model="option3">
    </div>

    <br>
    <button class="btn btn-success" ng-click="create()">CREATE</button>
    <button class="btn btn-info" ng-click="clear()">CLEAR</button>
    <a class="btn btn-danger" ng-href="#/list">CANCEL</a>

  </div>

</div>