<div class="row">

  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default" ng-repeat="(key, value) in votes">
      <div class="panel-body">
        <span>VOTE: </span>
        <a ng-href="index.html#/item/{{value.$id}}">{{value.title}}</a>
      </div>
      <div class="panel-footer">
        <span>Created by: {{value.creater}} </span> at <span>{{value.date | date: 'yy-MM-dd hh:mm'}} </span>
        <span>{{value | total}} voters attended</span>
      </div>
    </div>

  </div>

</div>